/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

/* impostazione header */
header {
    height:90px;
    background-color:#fff;
    padding-top: 10px;
    
}

/* assegnazione colore background della pagina */
body {
    background-color: rgb(247, 240, 240);
}

/* definizione tipografica e posizionamento titolo task/attività */
h3 {
    font-family: Helvetica, sans-serif;
    margin-left:65px;
    margin-top:50px;
}

/* impostazione colore e lunghezza divisore della sezione bottoni  */
hr{
    color: rgb(247, 243, 243);
    width: 800px;
    padding:0;
    }

/* definizione lista unordered senza bullets */
ul {
    list-style-type: none;
}

/* posizionamento e dimension del logo */
.logo-main {
    height: 70px;
    vertical-align: middle;
    }

/* font e posizionamento del testo nell'header */
.logo-text {
    font-family: Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: 900;
    vertical-align: middle;
}

/* stilizzazione contenitore della lista di attività */
.container {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    width: 800px;
    height:700px;
    background-color: white;
    border: 3px solid white;
    border-radius:5px;
    }

/* posizionamento bottoni  */
.buttons {
    margin-left:50px;
    padding:15px;
    text-align: left;
}

/* impostazione del bottone di aggiunta attività*/
.task-button {
    color:white;
    font-weight:bold;
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    padding:5px;
    font-family: Helvetica, sans-serif;
}

/* impostazione del bottone di aggiunta nuova sezione */
.section-button{
    color: lightgrey;
    font-weight:bold;
    background-color:#fff ;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding:5px;
    margin-left:10px;
    font-family: Helvetica, sans-serif;
}

.arrowhead-down{
    margin-right:5px;
}

/* impostazione voci in elenco attività (font, colore e allineamento) */
.task-item{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: darkgray;
    margin-top: 20px;
    margin-left:65px;
    vertical-align:bottom;
}

/* etichette delle attività */
.category {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color:white;
    border-radius:15px;
    padding: 4px 15px 4px 15px;
    vertical-align: middle;
}

.editorial-category {
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue; 
    }

.goal-category {
    background-color: violet;
    border: 2px solid violet;
    }

.recruiting-category {
    background-color: green;
    border: 2px solid green;
    }

.mobile-category {
    background-color: orange;
    border: 2px solid orange;
    
}

.website-category {
    background-color: rgb(160, 10, 160);
    border: 2px solid rgb(160, 10, 160);
    
}

.sales-category {
    background-color: rgb(67, 206, 67);
    border: 2px solid rgb(67, 206, 67);
    }


    /* definizione generale stato attività */
.task{
    background-color:white;
    margin-right:5px;
    border-radius:50%;
    width:20px;
    height:20px;
    font-size:10px;
    display:inline-block;
}

/* cerchietto con segno di spunta per indicare un'attività svolta */
.task-done {
    color: lightgreen;
    border: 1px solid lightgreen;
    padding:4px;
    }

/* cerchietto con croce per indicare un'attività ancora non completata */
.task-undone {
    color: red;
    border: 1px solid red;
    padding:3px;
    text-align:center;
    vertical-align:middle;
}